


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}

    {% bootstrap_css %}

    {% bootstrap_javascript %}

    {% bootstrap_messages %}

    <title>Online Job Poratl</title>
</head>

<body style="background-color: rgb(15, 113, 148);">
    <div class="container justify-content-center">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>