{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col-md-12">

            <form method="POST">
                {% csrf_token %}


                <label style="color: aliceblue;">
                    Enter JOB ID :
                    <input type="int" name=book_id>
                </label><br><br>
                {% buttons %}
                <input type="submit" class="btn btn-light" />
                <button type="reset" class="btn btn-light">Clear</button>
                {% endbuttons %}
            </form><br><br>
            


            <br><br>
            <div class="table-responsive bg-light">
                <table class="table table-bordered ">

                    <thead>
                        <tr>

                            <th>Title </th>
                            <th>Location</th>
                            <th>Salary</th>
                            <th>Experience</th>
                            
                        </tr>
                    </thead>
                    <tbody">
                        
                        <tr>{% if job %}
                           
                            <td>{{ job.title }}</td>
                            <td>{{ job.location }}</td>
                            <td>{{ job.salary }}</td>
                            <td>{{ job.experience }}</td>
                           
                            {% endif %}
                        </tr>
                        
                    </tbody>


                </table>

            </div>
        </div>
    </div>
</div>

{% endblock %}